<div id ='landing-page'>
<div id = 'title'>
  <h1>Hi! I'm <span style = "color:#D9853B">Loren.</span> <br>I'm a ruby developer.</h1>

</div>

<table id ='contact-table'>
  <tr>
    <td><a href="mailto:lmcrawf@gmail.com"><i class="fa fa-envelope fa-2x"></i></i></a></td>
    <td><a href="https://github.com/Locrawfish"><i class="fa fa-github fa-2x"></i></a></td>
    <td><a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin fa-2x"></i></a></td>
    <td><a href="https://twitter.com/LCrawfish"><i class="fa fa-twitter fa-2x"></i></a></td>
  </tr>
</table>
</div>


<div id = 'toolbox'>
	<h1>My Toolbox</h1>
  <hr>
  <table id ='toolbox-table'>
    <tr>
      <td></td>
      <td></td>
      <td><img src="../assets/images/logo/jquery-logo.png"></td>
      <td></td>
    </tr>
</table>
</div>

<div id = 'portfolio'>
	<h1>My Portfolio</h1>
  <hr>
  <table id ='contact-table'>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>
</div>