<div id ='landing-page' class = 'page'>
   <div id ='title-image'>
     <img src="<%= asset_path 'Loren.jpg' %>" width = '260%' height = '250%'>
    </div>
  <div id = 'title'>
    <h1>loren crawford</h1>
  </div>
  <table id ='contact-table'>
    <tr>
      <td><a href="mailto:lmcrawf@gmail.com"><i class="fa fa-envelope fa-lg"></i></i></a></td>
      <td><a href="https://github.com/Locrawfish"><i class="fa fa-github fa-lg"></i></a></td>
      <td><a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin fa-lg"></i></a></td>
      <td><a href="https://twitter.com/LCrawfish"><i class="fa fa-twitter fa-lg"></i></a></td>
    </tr>
  </table>
  <div id ='intro'>
    <p>Hi there! I'm Loren, and I love building things. I'm currently looking for Junior Ruby Dev Opportunties. Want to learn more? Stalk me on your fav social media site.</p>
  </div>
</div> 

