<div id ='landing-page'>
	<h1>Loren Crawford</h1>
<p>burgeoning web wizard</p>
<!-- <a href="mailto:lmcrawf@gmail.com"><i class="fa fa-at fa-2x"></i></a> -->
<!-- <a href="https://github.com/Locrawfish"><i class="fa fa-github fa-2x"></i></a> -->
<!-- <a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin fa-2x"></i></a> -->
<table id ='contact-table'>
  <tr>
    <td><a href="mailto:lmcrawf@gmail.com"><i class="fa fa-envelope fa-3x"></i></i></a></td>
    <td><a href="https://github.com/Locrawfish"><i class="fa fa-github fa-3x"></i></a></td>
    <td><a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin fa-3x"></i></a></td>
    <td><a href="https://twitter.com/LCrawfish"><i class="fa fa-twitter fa-3x"></i></a></td>
  </tr>
</table>
</div>


<div id = 'toolbox'>
	<h2>My Toolbox</h2>
</div>

<div id = 'portfolio'>
	<h2>My Portfolio</h2>
</div>