<div id ='landing-page' class = 'page'>
   <div id ='title-image'>
     <img src="<%= asset_path 'Loren.jpg' %>" width = '260%' height = '250%'>
    </div>
  <div id = 'title'>
    <h1>loren crawford</h1>
  </div>
  <table id ='contact-table'>
    <tr>
      <td><a href="mailto:lmcrawf@gmail.com"><i class="fa fa-envelope fa-lg"></i></i></a></td>
      <td><a href="https://github.com/Locrawfish"><i class="fa fa-github fa-lg"></i></a></td>
      <td><a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin fa-lg"></i></a></td>
      <td><a href="https://twitter.com/LCrawfish"><i class="fa fa-twitter fa-lg"></i></a></td>
    </tr>
  </table>
  <div id ='intro'>
    <p>Hi there! I'm Loren, and I love building things. I'm currently looking for Junior Ruby Dev Opportunties. Want to learn more? Stalk me on your fav social media site.</p>
  </div>
</div> 

<div class = 'page'>
  <div id = 'toolbox'>
    <h2>My Toolbox</h2>
    <table id ='toolbox-table'>
      <tr>
        <td></td>
        <td></td>
        <!-- <td><img src="<%= asset_path 'logo/jquery-logo.png' %>" width = '150px' height = '150px'></td> -->
        <td></td>
      </tr>
    </table>
  </div>
</div>

<div class = 'page'>
  <div id = 'portfolio' >
    <h2>My Portfolio</h2>
    <div class = 'card' id ='duckhunt'>
      <img src="<%= asset_path 'portfolio-images/Duck-hunt.png' %>">
      <h3>Duck Hunt</h3>
    </div>  
    <div class = 'card' id ='globetrotter'>
      <img src="<%= asset_path 'portfolio-images/Globetrotter.png' %>">
    </div> 
  </div>
</div>
