<table id ='contact-table'>
  <tr>
    <td><a href="mailto:lmcrawf@gmail.com"><i class="fa fa-envelope "></i></i></a></td>
    <td><a href="https://github.com/Locrawfish"><i class="fa fa-github "></i></a></td>
    <td><a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin "></i></a></td>
    <td><a href="https://twitter.com/LCrawfish"><i class="fa fa-twitter "></i></a></td>
  </tr>
</table>
