.card{
  margin:2em;
  position: relative; 
  width: 100%; 
  // background-color: red;
}

.card h3{
  text-align:left;
  font-size: 1.4em;
  margin:0;
  font-style: underline;
}
.card p{
  text-align:left;
  margin:0;
  font-size: 0.9em;
}

.card img{
  height: 250px;
  width: 400px;
}

// .card a:hover{
//   opacity:0.5;
// }

#portfolio{
  @include outer-container;
  @include span-columns(12);
}


#globetrotter{
  @include span-columns(5 in 12);
  @include shift(1);
}

#residual-fare{
  @include span-columns(4 in 12);
  @include shift(1);
}

#farm-connect{
  @include span-columns(5 in 12);
  @include shift(1);
}

#card-up{
  @include span-columns(5 in 12);
  @include shift(1);
}

// #portfolio-links{
//   @include span-columns(1 in 5);
//   // @include shift(2);
// }

#portfolio-links i{
  margin-right:1em;
}
