$mobile: new-breakpoint(max-width 480px 4); 
$tablet: new-breakpoint(min-width 481px max-width 989px 8);
$desktop: new-breakpoint(min-width 1234px 12);

.card{
  margin:2em;
  width: 100%; 
  h3 {
    text-align:left;
    font-size: 1.4em;
    margin:0;
    font-style: underline;
  }
  p{
    text-align:left;
    margin:0;
    font-size: 0.9em;
  }
  img{
    height: 250px;
    width: 400px;
  }
}


#portfolio{
  @include media($mobile){
    @include span-columns(4);
  }
  @include media($desktop){
    @include span-columns(12);
  }
}


#globetrotter{
   @include media($mobile){
    @include span-columns(2 in 4);
    @include shift(2);
  }
  @include media($desktop){
    @include span-columns(4 in 12);
    @include shift(1);  
  }
}

#residual-fare{
  @include media($mobile){
    @include span-columns(2 in 4);
    @include shift(1);
  }
  @include media($desktop){
    @include span-columns(4 in 12);
    @include shift(2);  
  }
}

#farm-connect{
 @include media($mobile){
    @include span-columns(2 in 4);
    @include shift(1);
  }
  @include media($desktop){
    @include span-columns(4 in 12);
    @include shift(1);  
  }
}

#card-up{
  @include media($mobile){
    @include span-columns(2 in 4);
    @include shift(1);
  }
  @include media($desktop){
    @include span-columns(4 in 12);
    @include shift(2);  
  }
}

#portfolio-links{
  @include span-columns(5 in 5);
}

#portfolio-links i{
  margin-right:1em;
}
