.card{
  margin:2em;
}

.card img{
  height: 250px;
  width: 400px;
}

#portfolio{
  @include outer-container;
  @include span-columns(12);
}

#duckhunt{
  @include span-columns(5 in 12);
  @include shift(1);
}

#globetrotter{
  @include span-columns(5 in 12);
  @include shift(1);
}